.venv/
__pycache__/
*.pyc
.git/
.dvc/
data/raw/
data/processed/
data/predictions/
data/drift_reports/
data/production/
mlruns/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
node_modules/
*.dvc
.env
